<h1 class= "h3 text-danger">Don't miss out on the upcoming events</h1>

<% @events.each do |event| %>
    <div class="card">
      <%= event.title %>
      <%= event.date %>
      <%= event.location %>
      <%= event.description %>
    </div>
<% end %>